In [42]:
import pandas as pd
import numpy as np

# Create a DataFrame

In [43]:
my_dict={'color':['red','blue','black'],'density':[2,8,9]}

In [44]:
pd.DataFrame(my_dict)

   color  density
0    red        2
1   blue        8
2  black        9

In [45]:
Name=['Tom','Krish','Nick']
age=[25,36,8]
New=list(zip(Name,age))
New

[('Tom', 25), ('Krish', 36), ('Nick', 8)]

In [46]:
df=pd.DataFrame(New,columns=['name','age'],index=['row1','row2','row3'])
df

       name  age
row1    Tom   25
row2  Krish   36
row3   Nick    8

# pandas vs Numpy

In [47]:
a=np.array(['1',5,9,87])
print(a)

['1' '5' '9' '87']

In [48]:
df.name

row1      Tom
row2    Krish
row3     Nick
Name: name, dtype: object

 # Read a local file

In [49]:
df=pd.read_excel('COVID.xlsx')
df.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,2020-11-12,12,11,2020,146,4,Afghanistan,AF,AFG,38041757.0,Asia,3.848403
1,2020-11-11,11,11,2020,0,0,Afghanistan,AF,AFG,38041757.0,Asia,3.464614
2,2020-11-10,10,11,2020,224,12,Afghanistan,AF,AFG,38041757.0,Asia,3.761656
3,2020-11-09,9,11,2020,80,3,Afghanistan,AF,AFG,38041757.0,Asia,3.695939
4,2020-11-08,8,11,2020,126,6,Afghanistan,AF,AFG,38041757.0,Asia,3.656508

In [50]:
df.shape[0]

55083

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55083 entries, 0 to 55082
Data columns (total 12 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   dateRep                                                     55083 non-null  datetime64[ns]
 1   day                                                         55083 non-null  int64
 2   month                                                       55083 non-null  int64
 3   year                                                        55083 non-null  int64
 4   cases                                                       55083 non-null  int64
 5   deaths                                                      55083 non-null  int64
 6   countriesAndTerritories                                     55083 non-null  object
 7   geoId                                                       54840 non-null  object
 8   countryterritoryCode                                        54992 non-null  object
 9   popData2019                                                 54992 non-null  float64
 10  continentExp                                                55083 non-null  object
 11  Cumulative_number_for_14_days_of_COVID-19_cases_per_100000  52247 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(5), object(4)
memory usage: 5.0+ MB

# select an index or column

In [52]:
df.countriesAndTerritories

0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
55078       Zimbabwe
55079       Zimbabwe
55080       Zimbabwe
55081       Zimbabwe
55082       Zimbabwe
Name: countriesAndTerritories, Length: 55083, dtype: object

In [53]:
df['countriesAndTerritories']

0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
55078       Zimbabwe
55079       Zimbabwe
55080       Zimbabwe
55081       Zimbabwe
55082       Zimbabwe
Name: countriesAndTerritories, Length: 55083, dtype: object

In [54]:
df_ir=df[df.countriesAndTerritories=='Iran']
df_ir

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
24461,2020-11-12,12,11,2020,11780,462,Iran,IR,IRN,82913893.0,Asia,152.471432
24462,2020-11-11,11,11,2020,10339,453,Iran,IR,IRN,82913893.0,Asia,146.494147
24463,2020-11-10,10,11,2020,10463,458,Iran,IR,IRN,82913893.0,Asia,142.428483
24464,2020-11-09,9,11,2020,9236,459,Iran,IR,IRN,82913893.0,Asia,136.997548
24465,2020-11-08,8,11,2020,9450,423,Iran,IR,IRN,82913893.0,Asia,133.325063
...,...,...,...,...,...,...,...,...,...,...,...,...
24774,2020-01-04,4,1,2020,0,0,Iran,IR,IRN,82913893.0,Asia,NaN
24775,2020-01-03,3,1,2020,0,0,Iran,IR,IRN,82913893.0,Asia,NaN
24776,2020-01-02,2,1,2020,0,0,Iran,IR,IRN,82913893.0,Asia,NaN
24777,2020-01-01,1,1,2020,0,0,Iran,IR,IRN,82913893.0,Asia,NaN
24778,2019-12-31,31,12,2019,0,0,Iran,IR,IRN,82913893.0,Asia,NaN

In [55]:
df_ir.to_csv('Iran_COVID.csv')

#  selection by labal

In [56]:
df_ir.loc[24461:24468,'dateRep':'deaths']

         dateRep  day  month  year  cases  deaths
24461 2020-11-12   12     11  2020  11780     462
24462 2020-11-11   11     11  2020  10339     453
24463 2020-11-10   10     11  2020  10463     458
24464 2020-11-09    9     11  2020   9236     459
24465 2020-11-08    8     11  2020   9450     423
24466 2020-11-07    7     11  2020   8864     424
24467 2020-11-06    6     11  2020   8772     406
24468 2020-11-05    5     11  2020   8452     419

# selction by position

In [57]:
df_ir.iloc[:5,1:4]

       day  month  year
24461   12     11  2020
24462   11     11  2020
24463   10     11  2020
24464    9     11  2020
24465    8     11  2020

In [58]:
df_ir[df_ir.cases>3000]

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
24461,2020-11-12,12,11,2020,11780,462,Iran,IR,IRN,82913893.0,Asia,152.471432
24462,2020-11-11,11,11,2020,10339,453,Iran,IR,IRN,82913893.0,Asia,146.494147
24463,2020-11-10,10,11,2020,10463,458,Iran,IR,IRN,82913893.0,Asia,142.428483
24464,2020-11-09,9,11,2020,9236,459,Iran,IR,IRN,82913893.0,Asia,136.997548
24465,2020-11-08,8,11,2020,9450,423,Iran,IR,IRN,82913893.0,Asia,133.325063
...,...,...,...,...,...,...,...,...,...,...,...,...
24623,2020-06-03,3,6,2020,3117,64,Iran,IR,IRN,82913893.0,Asia,39.750877
24682,2020-04-05,5,4,2020,5275,292,Iran,IR,IRN,82913893.0,Asia,42.372875
24686,2020-04-01,1,4,2020,3111,141,Iran,IR,IRN,82913893.0,Asia,34.297027
24687,2020-03-31,31,3,2020,3186,117,Iran,IR,IRN,82913893.0,Asia,31.965692
24689,2020-03-29,29,3,2020,3076,139,Iran,IR,IRN,82913893.0,Asia,27.352473

# where method

In [59]:
df_ir.where(df_ir.cases>3000)

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
24461,2020-11-12,12.0,11.0,2020.0,11780.0,462.0,Iran,IR,IRN,82913893.0,Asia,152.471432
24462,2020-11-11,11.0,11.0,2020.0,10339.0,453.0,Iran,IR,IRN,82913893.0,Asia,146.494147
24463,2020-11-10,10.0,11.0,2020.0,10463.0,458.0,Iran,IR,IRN,82913893.0,Asia,142.428483
24464,2020-11-09,9.0,11.0,2020.0,9236.0,459.0,Iran,IR,IRN,82913893.0,Asia,136.997548
24465,2020-11-08,8.0,11.0,2020.0,9450.0,423.0,Iran,IR,IRN,82913893.0,Asia,133.325063
...,...,...,...,...,...,...,...,...,...,...,...,...
24774,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24775,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24776,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24777,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24778,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
df_ir.where(df_ir.cases>3000,0)

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
24461,2020-11-12 00:00:00,12,11,2020,11780,462,Iran,IR,IRN,82913893.0,Asia,152.471432
24462,2020-11-11 00:00:00,11,11,2020,10339,453,Iran,IR,IRN,82913893.0,Asia,146.494147
24463,2020-11-10 00:00:00,10,11,2020,10463,458,Iran,IR,IRN,82913893.0,Asia,142.428483
24464,2020-11-09 00:00:00,9,11,2020,9236,459,Iran,IR,IRN,82913893.0,Asia,136.997548
24465,2020-11-08 00:00:00,8,11,2020,9450,423,Iran,IR,IRN,82913893.0,Asia,133.325063
...,...,...,...,...,...,...,...,...,...,...,...,...
24774,0,0,0,0,0,0,0,0,0,0.0,0,0.000000
24775,0,0,0,0,0,0,0,0,0,0.0,0,0.000000
24776,0,0,0,0,0,0,0,0,0,0.0,0,0.000000
24777,0,0,0,0,0,0,0,0,0,0.0,0,0.000000
24778,0,0,0,0,0,0,0,0,0,0.0,0,0.000000

# add a new Column

In [61]:
df_ir['ratio']=df_ir.deaths/df_ir.cases

C:\Users\Romina\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [62]:
df_ir

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000,ratio
24461,2020-11-12,12,11,2020,11780,462,Iran,IR,IRN,82913893.0,Asia,152.471432,0.039219
24462,2020-11-11,11,11,2020,10339,453,Iran,IR,IRN,82913893.0,Asia,146.494147,0.043815
24463,2020-11-10,10,11,2020,10463,458,Iran,IR,IRN,82913893.0,Asia,142.428483,0.043773
24464,2020-11-09,9,11,2020,9236,459,Iran,IR,IRN,82913893.0,Asia,136.997548,0.049697
24465,2020-11-08,8,11,2020,9450,423,Iran,IR,IRN,82913893.0,Asia,133.325063,0.044762
...,...,...,...,...,...,...,...,...,...,...,...,...,...
24774,2020-01-04,4,1,2020,0,0,Iran,IR,IRN,82913893.0,Asia,NaN,NaN
24775,2020-01-03,3,1,2020,0,0,Iran,IR,IRN,82913893.0,Asia,NaN,NaN
24776,2020-01-02,2,1,2020,0,0,Iran,IR,IRN,82913893.0,Asia,NaN,NaN
24777,2020-01-01,1,1,2020,0,0,Iran,IR,IRN,82913893.0,Asia,NaN,NaN
24778,2019-12-31,31,12,2019,0,0,Iran,IR,IRN,82913893.0,Asia,NaN,NaN

In [63]:
df_ir.insert(1,'ratio_percent',df_ir.ratio*100)

In [64]:
df_ir

,dateRep,ratio_percent,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000,ratio
24461,2020-11-12,3.921902,12,11,2020,11780,462,Iran,IR,IRN,82913893.0,Asia,152.471432,0.039219
24462,2020-11-11,4.381468,11,11,2020,10339,453,Iran,IR,IRN,82913893.0,Asia,146.494147,0.043815
24463,2020-11-10,4.377330,10,11,2020,10463,458,Iran,IR,IRN,82913893.0,Asia,142.428483,0.043773
24464,2020-11-09,4.969684,9,11,2020,9236,459,Iran,IR,IRN,82913893.0,Asia,136.997548,0.049697
24465,2020-11-08,4.476190,8,11,2020,9450,423,Iran,IR,IRN,82913893.0,Asia,133.325063,0.044762
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24774,2020-01-04,NaN,4,1,2020,0,0,Iran,IR,IRN,82913893.0,Asia,NaN,NaN
24775,2020-01-03,NaN,3,1,2020,0,0,Iran,IR,IRN,82913893.0,Asia,NaN,NaN
24776,2020-01-02,NaN,2,1,2020,0,0,Iran,IR,IRN,82913893.0,Asia,NaN,NaN
24777,2020-01-01,NaN,1,1,2020,0,0,Iran,IR,IRN,82913893.0,Asia,NaN,NaN
24778,2019-12-31,NaN,31,12,2019,0,0,Iran,IR,IRN,82913893.0,Asia,NaN,NaN

# Delete a column

In [65]:
df_ir.drop(['ratio_percent','ratio'],axis=1,inplace=True)

C:\Users\Romina\anaconda3\lib\site-packages\pandas\core\frame.py:4312: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [66]:
df_ir.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
24461,2020-11-12,12,11,2020,11780,462,Iran,IR,IRN,82913893.0,Asia,152.471432
24462,2020-11-11,11,11,2020,10339,453,Iran,IR,IRN,82913893.0,Asia,146.494147
24463,2020-11-10,10,11,2020,10463,458,Iran,IR,IRN,82913893.0,Asia,142.428483
24464,2020-11-09,9,11,2020,9236,459,Iran,IR,IRN,82913893.0,Asia,136.997548
24465,2020-11-08,8,11,2020,9450,423,Iran,IR,IRN,82913893.0,Asia,133.325063

In [67]:
df_ir.columns

Index(['dateRep', 'day', 'month', 'year', 'cases', 'deaths',
       'countriesAndTerritories', 'geoId', 'countryterritoryCode',
       'popData2019', 'continentExp',
       'Cumulative_number_for_14_days_of_COVID-19_cases_per_100000'],
      dtype='object')

In [68]:
df_ir.rename(columns={'Cumulative_number_for_14_days_of_COVID-19_cases_per_100000':'CNC'},inplace=True)

C:\Users\Romina\anaconda3\lib\site-packages\pandas\core\frame.py:4446: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [69]:
df_ir

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,CNC
24461,2020-11-12,12,11,2020,11780,462,Iran,IR,IRN,82913893.0,Asia,152.471432
24462,2020-11-11,11,11,2020,10339,453,Iran,IR,IRN,82913893.0,Asia,146.494147
24463,2020-11-10,10,11,2020,10463,458,Iran,IR,IRN,82913893.0,Asia,142.428483
24464,2020-11-09,9,11,2020,9236,459,Iran,IR,IRN,82913893.0,Asia,136.997548
24465,2020-11-08,8,11,2020,9450,423,Iran,IR,IRN,82913893.0,Asia,133.325063
...,...,...,...,...,...,...,...,...,...,...,...,...
24774,2020-01-04,4,1,2020,0,0,Iran,IR,IRN,82913893.0,Asia,NaN
24775,2020-01-03,3,1,2020,0,0,Iran,IR,IRN,82913893.0,Asia,NaN
24776,2020-01-02,2,1,2020,0,0,Iran,IR,IRN,82913893.0,Asia,NaN
24777,2020-01-01,1,1,2020,0,0,Iran,IR,IRN,82913893.0,Asia,NaN
24778,2019-12-31,31,12,2019,0,0,Iran,IR,IRN,82913893.0,Asia,NaN

In [70]:
df_ir.to_csv('Iran_COVID.csv')