In [7]:
import pandas as pd
import numpy as np

# Creat a DataFrame

In [3]:
#ساخت دیکشنری

my_dict = {'color':['red','blu','black'],'density':[2,8,9]}
my_dict

{'color': ['red', 'blu', 'black'], 'density': [2, 8, 9]}

In [4]:
pd.DataFrame(my_dict)

   color  density
0    red        2
1    blu        8
2  black        9

In [5]:
#ساخت دوتا لیست که یکی اسم ویکی سن هست
Name = ['Tom','Kris','Nick']
age = [25,36,8]
New = list(zip(Name,age))
pd.DataFrame(New)

      0   1
0   Tom  25
1  Kris  36
2  Nick   8

In [6]:
df = pd.DataFrame(New,columns = ['Name','age'],index = ['row1','row2','row3'])
df # هر ستون در دیتافریم یک سری هست

      Name  age
row1   Tom   25
row2  Kris   36
row3  Nick    8

# Pandas vs. Numpy

In [8]:
a = np.array([1,3,5,23])# اگر یکی از داده ها استرینگ بشه همه رو st میکنه
print(a)

[ 1  3  5 23]

# Read a local file

In [8]:
df = pd.read_excel('COVID-19-geographic-disbtribution-worldwide.xlsx')
df.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,2020-11-29,29,11,2020,228,11,Afghanistan,AF,AFG,38041757.0,Asia,6.845110
1,2020-11-28,28,11,2020,214,15,Afghanistan,AF,AFG,38041757.0,Asia,6.784650
2,2020-11-27,27,11,2020,0,0,Afghanistan,AF,AFG,38041757.0,Asia,6.395604
3,2020-11-26,26,11,2020,200,12,Afghanistan,AF,AFG,38041757.0,Asia,7.341932
4,2020-11-25,25,11,2020,185,13,Afghanistan,AF,AFG,38041757.0,Asia,7.199983

In [19]:
df.columns

Index(['dateRep', 'day', 'month', 'year', 'cases', 'deaths',
       'countriesAndTerritories', 'geoId', 'countryterritoryCode',
       'popData2019', 'continentExp',
       'Cumulative_number_for_14_days_of_COVID-19_cases_per_100000'],
      dtype='object')

In [11]:
df.shape[0]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58690 entries, 0 to 58689
Data columns (total 12 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   dateRep                                                     58690 non-null  datetime64[ns]
 1   day                                                         58690 non-null  int64
 2   month                                                       58690 non-null  int64
 3   year                                                        58690 non-null  int64
 4   cases                                                       58690 non-null  int64
 5   deaths                                                      58690 non-null  int64
 6   countriesAndTerritories                                     58690 non-null  object
 7   geoId                                                       58430 non-null  object
 8   countryterritoryCode                                        58582 non-null  object
 9   popData2019                                                 58582 non-null  float64
 10  continentExp                                                58690 non-null  object
 11  Cumulative_number_for_14_days_of_COVID-19_cases_per_100000  55826 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(5), object(4)
memory usage: 5.4+ MB

# Select an index or column

In [13]:
df.countriesAndTerritories
df['countriesAndTerritories']

0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
58685       Zimbabwe
58686       Zimbabwe
58687       Zimbabwe
58688       Zimbabwe
58689       Zimbabwe
Name: countriesAndTerritories, Length: 58690, dtype: object

In [11]:
df_ir = df[df.countriesAndTerritories == 'Iran'] # فقط دیتا ایران(سطرهای خاص)
#df_ir.tail(4)
df_ir

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
26027,2020-11-29,29,11,2020,13402,391,Iran,IR,IRN,82913893.0,Asia,224.659575
26028,2020-11-28,28,11,2020,14051,406,Iran,IR,IRN,82913893.0,Asia,222.007426
26029,2020-11-27,27,11,2020,13961,482,Iran,IR,IRN,82913893.0,Asia,219.216579
26030,2020-11-26,26,11,2020,27564,952,Iran,IR,IRN,82913893.0,Asia,216.268943
26031,2020-11-25,25,11,2020,0,0,Iran,IR,IRN,82913893.0,Asia,197.232326
...,...,...,...,...,...,...,...,...,...,...,...,...
26357,2020-01-04,4,1,2020,0,0,Iran,IR,IRN,82913893.0,Asia,NaN
26358,2020-01-03,3,1,2020,0,0,Iran,IR,IRN,82913893.0,Asia,NaN
26359,2020-01-02,2,1,2020,0,0,Iran,IR,IRN,82913893.0,Asia,NaN
26360,2020-01-01,1,1,2020,0,0,Iran,IR,IRN,82913893.0,Asia,NaN
26361,2019-12-31,31,12,2019,0,0,Iran,IR,IRN,82913893.0,Asia,NaN

# Selection by label

In [12]:
df_ir.loc[26357:26361,'dateRep':'deaths']

         dateRep  day  month  year  cases  deaths
26357 2020-01-04    4      1  2020      0       0
26358 2020-01-03    3      1  2020      0       0
26359 2020-01-02    2      1  2020      0       0
26360 2020-01-01    1      1  2020      0       0
26361 2019-12-31   31     12  2019      0       0

# Selection by position
چون در دیتا ایران که از دیتاست اصلی جدا کردیم ایندکس ها را ریست نکردیم، شماره شون از صفر شروع نشده. برای همین گاهی لازم میشه مثل این شرایط، که ایندکس را نه براساس نامی که داره، بلکه براساس موقعیت مکانی ش هم دسترسی داشته باشیم.

In [14]:
df_ir.iloc[:5,1:4]
#خود 5 رو شامل نمیشه توجهه::::::

       day  month  year
26027   29     11  2020
26028   28     11  2020
26029   27     11  2020
26030   26     11  2020
26031   25     11  2020

In [17]:
# boolean indexing
df_ir.loc[df_ir.cases > 3000]

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
26027,2020-11-29,29,11,2020,13402,391,Iran,IR,IRN,82913893.0,Asia,224.659575
26028,2020-11-28,28,11,2020,14051,406,Iran,IR,IRN,82913893.0,Asia,222.007426
26029,2020-11-27,27,11,2020,13961,482,Iran,IR,IRN,82913893.0,Asia,219.216579
26030,2020-11-26,26,11,2020,27564,952,Iran,IR,IRN,82913893.0,Asia,216.268943
26032,2020-11-24,24,11,2020,12460,453,Iran,IR,IRN,82913893.0,Asia,209.701889
...,...,...,...,...,...,...,...,...,...,...,...,...
26206,2020-06-03,3,6,2020,3117,64,Iran,IR,IRN,82913893.0,Asia,39.750877
26265,2020-04-05,5,4,2020,5275,292,Iran,IR,IRN,82913893.0,Asia,42.372875
26269,2020-04-01,1,4,2020,3111,141,Iran,IR,IRN,82913893.0,Asia,34.297027
26270,2020-03-31,31,3,2020,3186,117,Iran,IR,IRN,82913893.0,Asia,31.965692
26272,2020-03-29,29,3,2020,3076,139,Iran,IR,IRN,82913893.0,Asia,27.352473

# Where method
در دستور بولین قبلی، ابعاد دیتاست تغییر میکنه، یعنی فقط سطرها یا ستون هایی که شرط در اونها برقرار هست رو میده. ولی با دستور "ور" همه ی دیتاست رو میده با این تفاوت که اونهایی که در شرط صدق نمیکنن رو "نن" نشون میده.

In [16]:
df_ir.where(df_ir.cases > 3000)

df_ir.where(df_ir.cases > 3000,0)# مقدار 0 برگردونه بجای اونا

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
26027,2020-11-29,29.0,11.0,2020.0,13402.0,391.0,Iran,IR,IRN,82913893.0,Asia,224.659575
26028,2020-11-28,28.0,11.0,2020.0,14051.0,406.0,Iran,IR,IRN,82913893.0,Asia,222.007426
26029,2020-11-27,27.0,11.0,2020.0,13961.0,482.0,Iran,IR,IRN,82913893.0,Asia,219.216579
26030,2020-11-26,26.0,11.0,2020.0,27564.0,952.0,Iran,IR,IRN,82913893.0,Asia,216.268943
26031,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
26357,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26358,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26359,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26360,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26361,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Add a new column
# دو روش برای اینکار وجود داره

In [23]:
df_ir['ratio'] = df_ir.deaths/df_ir.cases
df_ir

<ipython-input-23-cb64fb12dd89>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ir['ratio'] = df_ir.deaths/df_ir.cases

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000,ratio
26027,2020-11-29,29,11,2020,13402,391,Iran,IR,IRN,82913893.0,Asia,224.659575,0.029175
26028,2020-11-28,28,11,2020,14051,406,Iran,IR,IRN,82913893.0,Asia,222.007426,0.028895
26029,2020-11-27,27,11,2020,13961,482,Iran,IR,IRN,82913893.0,Asia,219.216579,0.034525
26030,2020-11-26,26,11,2020,27564,952,Iran,IR,IRN,82913893.0,Asia,216.268943,0.034538
26031,2020-11-25,25,11,2020,0,0,Iran,IR,IRN,82913893.0,Asia,197.232326,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
26357,2020-01-04,4,1,2020,0,0,Iran,IR,IRN,82913893.0,Asia,NaN,NaN
26358,2020-01-03,3,1,2020,0,0,Iran,IR,IRN,82913893.0,Asia,NaN,NaN
26359,2020-01-02,2,1,2020,0,0,Iran,IR,IRN,82913893.0,Asia,NaN,NaN
26360,2020-01-01,1,1,2020,0,0,Iran,IR,IRN,82913893.0,Asia,NaN,NaN
26361,2019-12-31,31,12,2019,0,0,Iran,IR,IRN,82913893.0,Asia,NaN,NaN

## روش دوم

In [24]:
df_ir.insert(1,'ratio_percent',df_ir.ratio*100)
df_ir.head()

,dateRep,ratio_percent,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000,ratio
26027,2020-11-29,2.917475,29,11,2020,13402,391,Iran,IR,IRN,82913893.0,Asia,224.659575,0.029175
26028,2020-11-28,2.889474,28,11,2020,14051,406,Iran,IR,IRN,82913893.0,Asia,222.007426,0.028895
26029,2020-11-27,3.452475,27,11,2020,13961,482,Iran,IR,IRN,82913893.0,Asia,219.216579,0.034525
26030,2020-11-26,3.453780,26,11,2020,27564,952,Iran,IR,IRN,82913893.0,Asia,216.268943,0.034538
26031,2020-11-25,NaN,25,11,2020,0,0,Iran,IR,IRN,82913893.0,Asia,197.232326,NaN

# Delete a column

In [26]:
df_ir.drop(['ratio_percent','ratio'],axis=1, inplace = True)
df_ir

C:\Users\zabou\anaconda3\lib\site-packages\pandas\core\frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
26027,2020-11-29,29,11,2020,13402,391,Iran,IR,IRN,82913893.0,Asia,224.659575
26028,2020-11-28,28,11,2020,14051,406,Iran,IR,IRN,82913893.0,Asia,222.007426
26029,2020-11-27,27,11,2020,13961,482,Iran,IR,IRN,82913893.0,Asia,219.216579
26030,2020-11-26,26,11,2020,27564,952,Iran,IR,IRN,82913893.0,Asia,216.268943
26031,2020-11-25,25,11,2020,0,0,Iran,IR,IRN,82913893.0,Asia,197.232326
...,...,...,...,...,...,...,...,...,...,...,...,...
26357,2020-01-04,4,1,2020,0,0,Iran,IR,IRN,82913893.0,Asia,NaN
26358,2020-01-03,3,1,2020,0,0,Iran,IR,IRN,82913893.0,Asia,NaN
26359,2020-01-02,2,1,2020,0,0,Iran,IR,IRN,82913893.0,Asia,NaN
26360,2020-01-01,1,1,2020,0,0,Iran,IR,IRN,82913893.0,Asia,NaN
26361,2019-12-31,31,12,2019,0,0,Iran,IR,IRN,82913893.0,Asia,NaN

# تغییر نام ستون

In [27]:
df_ir.rename(columns = {'Cumulative_number_for_14_days_of_COVID-19_cases_per_100000':'CNC'},inplace = True)
df_ir.head(2)

C:\Users\zabou\anaconda3\lib\site-packages\pandas\core\frame.py:4125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,CNC
26027,2020-11-29,29,11,2020,13402,391,Iran,IR,IRN,82913893.0,Asia,224.659575
26028,2020-11-28,28,11,2020,14051,406,Iran,IR,IRN,82913893.0,Asia,222.007426

In [29]:
df_ir.to_csv('Iran_COVID.csv')